body {
	background-color: #FFFAA0;
	font-size: 16px;

	display: flex;
	flex-direction: column;   /* add this */
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;

	background-image: radial-gradient(circle, #FFD1DE 40%, transparent 0%);
	background-size: 60px 60px;
	animation: moveDots 3s linear infinite;
}

@keyframes moveDots {
    from { background-position: 0 0; }
    to   { background-position: 60px 60px; }
}

.font {
	text-align: center;
	font-family: "SN Pro", "Times New Roman", Arial;
    -webkit-text-stroke: 6px white;
    paint-order: stroke fill;
    color: pink;
    font-size: 24px;
}

.heading {
	text-align: center;
	font-family: "SN Pro", "Times New Roman", Arial;
    color: pink;
    font-size: 48px;
    -webkit-text-stroke: 12px white;
    paint-order: stroke fill;
}

.centered {
	text-align: center;
}

.layout {
	display: flex;
	align-items: center;
	gap: 80px;
}

.content {
	width: 500px;
}

.img-logo {
    width: 15%;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
}

img {
  border-radius: 48px;
}